.login-page{
  width: 100%;
  height: 100%;
  background: var(--color-background);

  .logo{
    display: block;
    width:155px;
    height: 190px;
    margin: 45px auto 0;
  }
  .title{
    font-family: var(--font-primary-bold);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-white);
  }
}
