.login-form{
  background: var(--color-widget-background);
  border-radius: 8px;
  border: solid 1px #3f3c54;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
}
.form-container{
  input[type=submit]{
    margin-top: 15px;
  }
}
.form-subtitle{
  padding-top: 5px;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-informative-text);
}

.info-link{
  font-family: var(--font-primary-light);
  font-size: 0.9rem;
  color: var(--white);
  margin-bottom: 35px;
}
.login-error{
  font-family: var(--font-primary-light);
  font-size: 1rem;
  margin-bottom: 10px;
}
.register{
  font-family: var(--font-primary-light);
  font-size: 1rem;
  text-align: center;
  color: var(--white);
  margin-top: 35px;
  padding-bottom: 1rem
}
