.movie-section-title{
  font-family: var(--font-primary-bold);
  font-size: 1.3rem;
  color: var(--white);
  padding: 2rem 1rem 1rem;
  z-index: 1;
  margin:0
}
.movies-list-container{
  z-index: 2;
  .movie{
    cursor: pointer;
    transition: all 300ms;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 0;
    object-fit: contain;

    &:hover {
      transform: scale(1.1) !important;
      z-index: 1;
    }
    &:not(:last-child) {
      padding-right: .5rem;
    }

    .movie-image {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  div.swiper-button-prev,
  div.swiper-button-next {
    transition: all 450ms !important;
    color: rgb(255, 255, 255);

    &:hover {
      transform: scale(1.2) !important;
      transition: all 450ms !important;
    }
  }

  .movie-title{
    font-family: var(--font-primary-bold);
    font-size: 0.9rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    color: var(--white);
    text-align: center;
  }
}
