.submit{
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-primary-bold);
  text-align: center;
  color: var(--white) !important;
  border: 0;
}

.primary{
  border:2px solid var(--color-action);
  background: transparent;
  color: var(---white);
}
.primary:hover, .primary:active, .primary:focus{
  background: var(--color-action) !important;
  box-shadow: none !important;
  border-color: transparent !important;
}
