.featured-movie-details-container{
  position: absolute;
  padding-top: 20rem ;
  color: var(--white) !important;

  .title{
    font-family: var(--font-primary-bold);
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  .description{
    font-family: var(--font-primary-light);
    font-size: 1.1rem;
  }
  .actions{
    padding-top: 2rem;

    .button-play{
      font-family: var(--font-primary-bold);
      cursor: pointer;
      font-size: 1rem;
      color: #fff;
      outline: none;
      border: none;
      border-radius: .2vw;
      margin-right: 1rem;
      margin-top: 1rem;
      background-color: var(--color-action);
      padding: 0.5rem 3.5rem;
      .play{
        width: 17px;
        height: 19px;
        object-fit: contain;
      }
      &:hover {
        color: var(--color-action);
        background-color: #e6e6e6;
        transition: all .2s;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
      }
    }
    .button-info{
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      background-color: #ffffff;
      cursor: pointer;
      font-size: 1rem;
      color: #000000;
      outline: none;
      border: none;
      border-radius: .2vw;
      margin-right: 1rem;
      margin-top: 1rem;
    }
  }
}
