.error {
  color: red
}
.form-label{
  font-size: 0.75rem;
  font-weight: 500;
  font-family: var(--font-primary-light);
  color: var(--color-informative-text);
}

.form-control, .form-control:focus, .form-control:active{
  font-family: var(--font-primary-light);
  height: 40px;
  border-radius: 0;
  color: var(--color-white);
  font-size: 1rem;
  background: transparent;
  border: 0;
  outline: none;
  border-bottom:1px solid var(--color-input-border);
  box-shadow: none;
  padding: 15px 0;
}

.form-control::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: normal;
  color: var(--white);
}
