.main-navigation{
  background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  .nav-link{
    font-size: 1.1rem;
    font-family: var(--font-primary-light);
    color: var(--white) !important;
    padding: 0 1.5rem !important;
  }
  .nav-link:hover{
    color: var(--color-action) !important;
  }
  .thumbnail-image{
    width:54px;
    height:54px;
    border-radius: 50%;
    border: 1px solid var(--color-action);
  }
  .dropdown-toggle::after{
    margin-right:1rem;
  }
  .menu-icon{
    width:20px;
    height: 24px;
    margin-top:10px;
    vertical-align: center;
    display: inline-block;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
