@import "~bootstrap/scss/bootstrap";

html, body, #root{
  width: 100%;
  height: 100%;
  text-align: justify !important;
  background: var(--color-background);
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-widget-background) inset !important;
}

