@import "./Assets/Styles/css-variables";

@font-face {
  font-family: 'AlQabas-Bold';
  src: url('./Assets/Fonts/AlQabas/alqabas-bold.ttf');
}

@font-face {
  font-family: 'AlQabas-Light';
  src: url('./Assets/Fonts/AlQabas/alqabas-light.ttf');
}
