:root{
  --color-primary: '';
  --color-background :#13121b;
  --color-white:#ffffff;
  --color-informative-text:#9b9b9b;
  --color-input-border:#59585f;
  --color-widget-background:#22212c;
  --color-action:#d0a453;
  --font-primary-bold: 'AlQabas-Bold';
  --font-primary-light: 'AlQabas-Light';
}
